<a href="https://colab.research.google.com/github/Keishin315/sony_compe/blob/main/xgb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install optuna
import optuna
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
def objective(trial):
    train_x, test_x, train_y, test_y = train_test_split(traindata, target, test_size=0.1,shuffle=False)

    #評価するハイパーパラメータの値を規定
    params ={
        'max_depth':trial.suggest_int("max_depth",1,10),
        'min_child_weight':trial.suggest_int('min_child_weight',1,5),
        'gamma':trial.suggest_uniform('gamma',0,1),
        'subsample':trial.suggest_uniform('subsample',0,1),
        'colsample_bytree':trial.suggest_uniform('colsample_bytree',0,1),
        'reg_alpha':trial.suggest_loguniform('reg_alpha',1e-5,100),
        'reg_lambda':trial.suggest_loguniform('reg_lambda',1e-5,100),        
        'learning_rate':trial.suggest_uniform('learning_rate',0,1)}

    model = xgb.XGBRegressor(
                             verbosity=0,
                            **params)

    model.fit(train_x,train_y)
    preds = model.predict(test_x)
    test_y2=pd.DataFrame(test_y.values).copy()
    prediction1=pd.DataFrame(preds).copy()
    k=0
    for i in range(337):
      test_y2[0][i]=test_y2[0][i]*stdic[original['venue'][len(traindata)-337+i]]
      prediction1[0][i]=prediction1[0][i]*stdic[original['venue'][len(traindata)-337+i]]
    k+=np.sqrt(mean_squared_error(test_y2,prediction1))

    return k

In [ ]:
if __name__ == '__main__':
    study = optuna.create_study()
    study.optimize(objective, n_trials=100)
    print(study.best_trial)

In [ ]:
best_params=study.best_params

In [ ]:

pre=pd.DataFrame([0.0 for i in range(459)])

for i in range(20):
  model = xgb.XGBRegressor(verbosity=0,random_state=i,
                            **best_params)
  model.fit(traindata,target)
  
  pr = model.predict(testdata)
  pre+=pd.DataFrame(pr)/20


for i in range(459):
  pre[0][i]=pre[0][i]*stdic[toriginal.loc[i]['venue']]
pre

                0
0    45443.130868
1    17976.447091
2    23526.763110
3    18462.644694
4    19401.487398
..            ...
454  27860.667432
455  19359.773325
456  26189.423524
457  31134.195001
458  16303.508989

[459 rows x 1 columns]

In [ ]:
naga=pd.DataFrame(list(toriginal[toriginal['venue']=='トランスコスモススタジアム長崎'].id))
naga

In [ ]:
samsubdata=pd.read_csv('sample_submit-4.csv',header=None)
samsubdata.iloc[:,1]=0
samsubdata[1]=pd.DataFrame(pre)
#長崎補正
for i in range(459):
  if(samsubdata[0][i] in naga[0].values):
    samsubdata[1][i]=10200
samsubdata.to_csv('sub1.csv',index=False,header=False)
samsubdata

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

         0             1
0    19075  45443.130868
1    19076  17976.447091
2    19077  23526.763110
3    19078  18462.644694
4    19079  19401.487398
..     ...           ...
454  20893  27860.667432
455  20894  19359.773325
456  20895  26189.423524
457  20896  31134.195001
458  20897  16303.508989

[459 rows x 2 columns]

In [ ]:
sub35=pd.read_csv('/content/sub1-35.csv',header=None)
sub46=pd.read_csv('sub1-46.csv',header=None)
sub29=pd.read_csv('sub1-29.csv',header=None)
ans=samsubdata[1]/4+sub35[1]/4+sub46[1]/4+sub29[1]/4
samsubdata[1]=ans
#長崎補正
for i in range(459):
  if(samsubdata[0][i] in naga[0].values):
    samsubdata[1][i]=10200
samsubdata.to_csv('sub1.csv',index=False,header=False)
samsubdata

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

         0             1
0    19075  42012.832481
1    19076  18429.975272
2    19077  23529.837667
3    19078  18484.096639
4    19079  19230.262532
..     ...           ...
454  20893  27819.601163
455  20894  19826.397094
456  20895  25074.174600
457  20896  31242.238068
458  20897  15463.020756

[459 rows x 2 columns]